src/conf/xml-resources/web-service-references/MonitorWS/wsdl/buburutzapc_8080/MonitorWS/MonitorWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="allAccounts" type="tns:allAccounts"/>

<xs:element name="allAccountsResponse" type="tns:allAccountsResponse"/>

<xs:element name="allClienti" type="tns:allClienti"/>

<xs:element name="allClientiResponse" type="tns:allClientiResponse"/>

<xs:complexType name="allAccounts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="allAccountsResponse">
<xs:sequence>
<xs:element name="return" type="tns:contDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contDTO">
<xs:sequence>
<xs:element name="action" type="xs:string" minOccurs="0"/>
<xs:element name="active" type="xs:boolean"/>
<xs:element name="client" type="tns:clientDTO" minOccurs="0"/>
<xs:element name="creationDate" type="xs:string" minOccurs="0"/>
<xs:element name="descriere" type="xs:string" minOccurs="0"/>
<xs:element name="iban" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="sold" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clientDTO">
<xs:sequence>
<xs:element name="action" type="xs:string" minOccurs="0"/>
<xs:element name="cnp" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nume" type="xs:string" minOccurs="0"/>
<xs:element name="prenume" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="allClienti">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="allClientiResponse">
<xs:sequence>
<xs:element name="return" type="tns:clientDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>